<button pButton pRipple [type]="type" [disabled]="disabled" [ngClass]="[
  'btn',
  'btn-' + btnType,
  size !== 'normal' ? 'btn-' + size : '',
  fullWidth ? 'w-100' : '',
  loading ? 'loading' : ''
]" [rounded]="rounded" [outlined]="outlined" [attr.aria-busy]="loading">
  @if (icon && iconPosition === 'left') {
    <i [class]="icon"></i>
  }
  @if (!loading) {
    <span>{{ label }}</span>
  }
  @if (loading) {
    <span class="spinner-border spinner-border-sm me-1"></span>
  }
  @if (icon && iconPosition === 'right') {
    <i [class]="icon"></i>
  }
</button>