<h1 class="page-title">Settings</h1>
<div class="back-to-page mb-3">
  <a [routerLink]="['/']"> <app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back</a>
</div>

<div class="row">
  <div class="col-12">
    <app-card>
      <div card-header>Site Settings</div>
      <div card-body>
        <div class="row">
          <div class="col-md-4">
            <form [formGroup]="siteSettingsForm" class="form app-form" (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="action" value="updateSettings">

              <div class="row mb-3">
                <div class="col">
                  <app-input [label]="'Timesheet Enable Previous Days'" [type]="'number'"
                    [name]="'timesheetMinDays'" [inputId]="'timesheetMinDays'"
                    formControlName="timesheetMinDays"></app-input>
                  <app-validation-error
                  [control]="siteSettingsForm.controls['timesheetMinDays']"></app-validation-error>
                  <div class="small mt-2"><app-icon [name]="'info'"></app-icon>
                  Number of days before today to be enabled.
                  (<strong>Default value: </strong> 5)</div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <app-input [label]="'Timesheet Enable Next Days'" [type]="'number'"
                    [name]="'timesheetMaxDays'" [inputId]="'timesheetMaxDays'"
                    formControlName="timesheetMaxDays"></app-input>
                  <app-validation-error
                  [control]="siteSettingsForm.controls['timesheetMaxDays']"></app-validation-error>
                  <div class="small mt-2"><app-icon [name]="'info'"></app-icon>
                  Number of days after today to be enabled.
                  (<strong>Default value: </strong> 0)</div>

                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <app-input [label]="'Email Distribution List ID'" [type]="'text'"
                    [name]="'emailNotifyDistro'" [inputId]="'emailNotifyDistro'"
                    formControlName="emailNotifyDistro"></app-input>
                  <app-validation-error
                  [control]="siteSettingsForm.controls['emailNotifyDistro']"></app-validation-error>
                  <div class="small mt-2"><app-icon [name]="'info'"></app-icon>
                Email DL ID where post related updates will be sent</div>

              </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="loading">
              @if (loading) {
                <span class="spinner-border spinner-border-sm me-1"></span>
              }
              Submit
            </button>
          </form>
        </div>
      </div>
    </div> <!--/.card-body-->
  </app-card> <!--/.card-->

</div>
</div>