<a class="flex items-center" [routerLink]="['/']">
    <svg fill="var(--primary-color)" class="h-12 mr-2" viewBox="0 0 32 32" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <title>angular</title>
        <path
            d="M24.826 23.885h-3.297l-1.777-4.377h-7.507l-1.777 4.379h-3.299l8.83-19.571zM15.999 1.004l-14.145 4.976 2.157 18.458 11.989 6.557 11.992-6.551 2.154-18.462-14.147-4.977zM13.414 16.806h5.171l-2.587-6.133z">
        </path>
    </svg>
    <span class="text-surface-900 dark:text-surface-0 font-medium text-2xl leading-normal mr-20">
        {{ productName }}
    </span>
</a>

<a pButton [text]="true" severity="secondary" [rounded]="true" pRipple class="lg:hidden!" pStyleClass="@next"
    enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars text-2xl!"></i>
</a>

<div
    class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
        <li>
            <a [routerLink]="['/site/home']" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/site/features']" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Features</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/site/highlights']" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Highlights</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/site/pricing']" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Pricing</span>
            </a>
        </li>
    </ul>
    <div class="flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
        <button pButton pRipple label="Login" [routerLink]="['/auth/login']" [rounded]="true" [text]="true"></button>
        <button pButton pRipple label="Register" [routerLink]="['/auth/register']" [rounded]="true"></button>

    </div>
</div>