<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  {{ 'auth.titleForgotPassword' | translate }}
</h1>
<form [formGroup]="fpForm" class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()">
  <div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'auth.yourEmail' |
      translate}}</label>
    <input pInputText type="text" placeholder="{{ 'auth.placeholderUsername' | translate }}" formControlName="email"
      aria-label="Username" aria-describedby="basic-addon1" class="w-full" id="email" />
    <app-validation-error [control]="f['email']"></app-validation-error>
  </div>
  <div class="flex items-center justify-between">
    <a class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500" routerLink="../login">{{
      'auth.goBackToLogin' | translate }}</a>
  </div>
  <button pButton pRipple type="submit" class="w-full" [disabled]="loading || fpForm.invalid" [loading]="loading">{{ 'button.sendOtp' |
    translate
    }}</button>
</form>