<h1 class="page-title">Change Password</h1>
<div class="row">
  <div class="col-12">
    <app-card>
      <div card-header>Form</div>
      <div card-body>
        <app-alert-message [mode]="'toast'"></app-alert-message>
        <div class="row">
          <div class="col-md-6 col-lg-5 col-xl-4">
            <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="action">
              <div class="mb-3">
                <label class="required" for="currentPassword">Current Password</label>
                <app-input [type]="'password'" [name]="'currentPassword'" [inputId]="'currentPassword'"
                  formControlName="currentPassword" [maxLength]="16"></app-input>
                <app-validation-error
                [control]="myForm.controls['currentPassword']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="required" for="password">New Password</label>
                <app-input [type]="'password'" [name]="'password'" [inputId]="'password'" formControlName="password"
                  [maxLength]="16"></app-input>
                <app-validation-error [control]="myForm.controls['password']"></app-validation-error>
                <small id="passwordHelp" class="form-text text-muted">Password must be 8-16 characters
                long including at least 1 lowercase, 1 uppercase letter & 1 number.</small>
              </div>

              <div class="mb-3">
                <label class="required" for="confirmPassword">Confirm Password</label>
                <app-input [type]="'password'" [name]="'confirmPassword'" [inputId]="'confirmPassword'"
                  formControlName="confirmPassword" [maxLength]="16"></app-input>
                <app-validation-error
                [control]="myForm.controls['confirmPassword']"></app-validation-error>
              </div>

              <app-button [type]="'submit'" [loading]="loading" [disabled]="loading">Submit</app-button>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>