<div class="layout-sidebar">
  <ul class="layout-menu">
    <li app-menuitem="" class="layout-root-menuitem ng-tns-c207508854-2">
      <div class="layout-menuitem-root-text">Home</div><!----><a tabindex="0" pripple="" class="p-ripple" pc34=""><i
          class="layout-menuitem-icon"></i><span class="layout-menuitem-text">Home</span><i
          class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
      <ul class="ng-trigger ng-trigger-children">
        <li app-menuitem="" class="active-menuitem ng-tns-c207508854-3"><!----><!----><a routerlinkactive="active-route"
            tabindex="0" pripple="" class="p-ripple active-route" href="/" pc35=""><i
              class="layout-menuitem-icon pi pi-fw pi-home"></i><span
              class="layout-menuitem-text">Dashboard</span><!----></a><!----><!----><!----></li><!---->
      </ul><!----><!---->
    </li><!----><!----><!---->
    <li app-menuitem="" class="layout-root-menuitem ng-tns-c207508854-4">
      <div class="layout-menuitem-root-text">UI Components</div><!----><a tabindex="0" pripple="" class="p-ripple"
        pc36=""><i class="layout-menuitem-icon"></i><span class="layout-menuitem-text">UI Components</span><i
          class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
      <ul class="ng-trigger ng-trigger-children">
        <li app-menuitem="" class="ng-tns-c207508854-5"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/formlayout" pc37=""><i
              class="layout-menuitem-icon pi pi-fw pi-id-card"></i><span class="layout-menuitem-text">Form
              Layout</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-6"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/input" pc38=""><i
              class="layout-menuitem-icon pi pi-fw pi-check-square"></i><span
              class="layout-menuitem-text">Input</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-7"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/button" pc39=""><i
              class="layout-menuitem-icon pi pi-fw pi-mobile"></i><span
              class="layout-menuitem-text">Button</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-8"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/table" pc40=""><i
              class="layout-menuitem-icon pi pi-fw pi-table"></i><span
              class="layout-menuitem-text">Table</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-9"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/list" pc41=""><i
              class="layout-menuitem-icon pi pi-fw pi-list"></i><span
              class="layout-menuitem-text">List</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-10"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/tree" pc42=""><i
              class="layout-menuitem-icon pi pi-fw pi-share-alt"></i><span
              class="layout-menuitem-text">Tree</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-11"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/panel" pc43=""><i
              class="layout-menuitem-icon pi pi-fw pi-tablet"></i><span
              class="layout-menuitem-text">Panel</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-12"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/overlay" pc44=""><i
              class="layout-menuitem-icon pi pi-fw pi-clone"></i><span
              class="layout-menuitem-text">Overlay</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-13"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/media" pc45=""><i
              class="layout-menuitem-icon pi pi-fw pi-image"></i><span
              class="layout-menuitem-text">Media</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-14"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/menu" pc46=""><i
              class="layout-menuitem-icon pi pi-fw pi-bars"></i><span
              class="layout-menuitem-text">Menu</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-15"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/message" pc47=""><i
              class="layout-menuitem-icon pi pi-fw pi-comment"></i><span
              class="layout-menuitem-text">Message</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-16"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/file" pc48=""><i
              class="layout-menuitem-icon pi pi-fw pi-file"></i><span
              class="layout-menuitem-text">File</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-17"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/charts" pc49=""><i
              class="layout-menuitem-icon pi pi-fw pi-chart-bar"></i><span
              class="layout-menuitem-text">Chart</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-18"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/timeline" pc50=""><i
              class="layout-menuitem-icon pi pi-fw pi-calendar"></i><span
              class="layout-menuitem-text">Timeline</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-19"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/uikit/misc" pc51=""><i
              class="layout-menuitem-icon pi pi-fw pi-circle"></i><span
              class="layout-menuitem-text">Misc</span><!----></a><!----><!----><!----></li><!---->
      </ul><!----><!---->
    </li><!----><!----><!---->
    <li app-menuitem="" class="layout-root-menuitem ng-tns-c207508854-20">
      <div class="layout-menuitem-root-text">Pages</div><!----><a tabindex="0" pripple="" class="p-ripple" pc52=""><i
          class="layout-menuitem-icon pi pi-fw pi-briefcase"></i><span class="layout-menuitem-text">Pages</span><i
          class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
      <ul class="ng-trigger ng-trigger-children">
        <li app-menuitem="" class="ng-tns-c207508854-21"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/landing" pc53=""><i
              class="layout-menuitem-icon pi pi-fw pi-globe"></i><span
              class="layout-menuitem-text">Landing</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-22"><!----><a tabindex="0" pripple="" class="p-ripple" pc54=""><i
              class="layout-menuitem-icon pi pi-fw pi-user"></i><span class="layout-menuitem-text">Auth</span><i
              class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
          <ul class="ng-trigger ng-trigger-children" style="height: 0px;">
            <li app-menuitem="" class="ng-tns-c207508854-26"><!----><!----><a routerlinkactive="active-route"
                tabindex="0" pripple="" class="p-ripple" href="/auth/login" pc55=""><i
                  class="layout-menuitem-icon pi pi-fw pi-sign-in"></i><span
                  class="layout-menuitem-text">Login</span><!----></a><!----><!----><!----></li>
            <li app-menuitem="" class="ng-tns-c207508854-27"><!----><!----><a routerlinkactive="active-route"
                tabindex="0" pripple="" class="p-ripple" href="/auth/error" pc56=""><i
                  class="layout-menuitem-icon pi pi-fw pi-times-circle"></i><span
                  class="layout-menuitem-text">Error</span><!----></a><!----><!----><!----></li>
            <li app-menuitem="" class="ng-tns-c207508854-28"><!----><!----><a routerlinkactive="active-route"
                tabindex="0" pripple="" class="p-ripple" href="/auth/access" pc57=""><i
                  class="layout-menuitem-icon pi pi-fw pi-lock"></i><span class="layout-menuitem-text">Access
                  Denied</span><!----></a><!----><!----><!----></li><!---->
          </ul><!----><!---->
        </li>
        <li app-menuitem="" class="ng-tns-c207508854-23"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/pages/crud" pc58=""><i
              class="layout-menuitem-icon pi pi-fw pi-pencil"></i><span
              class="layout-menuitem-text">Crud</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-24"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/pages/notfound" pc59=""><i
              class="layout-menuitem-icon pi pi-fw pi-exclamation-circle"></i><span class="layout-menuitem-text">Not
              Found</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-25"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/pages/empty" pc60=""><i
              class="layout-menuitem-icon pi pi-fw pi-circle-off"></i><span
              class="layout-menuitem-text">Empty</span><!----></a><!----><!----><!----></li><!---->
      </ul><!----><!---->
    </li><!----><!----><!---->
    <li app-menuitem="" class="layout-root-menuitem ng-tns-c207508854-29">
      <div class="layout-menuitem-root-text">Hierarchy</div><!----><a tabindex="0" pripple="" class="p-ripple"
        pc61=""><i class="layout-menuitem-icon"></i><span class="layout-menuitem-text">Hierarchy</span><i
          class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
      <ul class="ng-trigger ng-trigger-children">
        <li app-menuitem="" class="ng-tns-c207508854-30"><!----><a tabindex="0" pripple="" class="p-ripple" pc62=""><i
              class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span class="layout-menuitem-text">Submenu
              1</span><i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
          <ul class="ng-trigger ng-trigger-children" style="height: 0px;">
            <li app-menuitem="" class="ng-tns-c207508854-32"><!----><a tabindex="0" pripple="" class="p-ripple"
                pc63=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                  class="layout-menuitem-text">Submenu 1.1</span><i
                  class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
              <ul class="ng-trigger ng-trigger-children" style="height: 0px;">
                <li app-menuitem="" class="ng-tns-c207508854-34"><!----><a tabindex="0" pripple="" class="p-ripple"
                    pc64=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                      class="layout-menuitem-text">Submenu 1.1.1</span><!----></a><!----><!----><!----><!----></li>
                <li app-menuitem="" class="ng-tns-c207508854-35"><!----><a tabindex="0" pripple="" class="p-ripple"
                    pc65=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                      class="layout-menuitem-text">Submenu 1.1.2</span><!----></a><!----><!----><!----><!----></li>
                <li app-menuitem="" class="ng-tns-c207508854-36"><!----><a tabindex="0" pripple="" class="p-ripple"
                    pc66=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                      class="layout-menuitem-text">Submenu 1.1.3</span><!----></a><!----><!----><!----><!----></li>
                <!---->
              </ul><!----><!---->
            </li>
            <li app-menuitem="" class="ng-tns-c207508854-33"><!----><a tabindex="0" pripple="" class="p-ripple"
                pc67=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                  class="layout-menuitem-text">Submenu 1.2</span><i
                  class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
              <ul class="ng-trigger ng-trigger-children" style="height: 0px;">
                <li app-menuitem="" class="ng-tns-c207508854-37"><!----><a tabindex="0" pripple="" class="p-ripple"
                    pc68=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                      class="layout-menuitem-text">Submenu 1.2.1</span><!----></a><!----><!----><!----><!----></li>
                <!---->
              </ul><!----><!---->
            </li><!---->
          </ul><!----><!---->
        </li>
        <li app-menuitem="" class="ng-tns-c207508854-31"><!----><a tabindex="0" pripple="" class="p-ripple" pc69=""><i
              class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span class="layout-menuitem-text">Submenu
              2</span><i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
          <ul class="ng-trigger ng-trigger-children" style="height: 0px;">
            <li app-menuitem="" class="ng-tns-c207508854-38"><!----><a tabindex="0" pripple="" class="p-ripple"
                pc70=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                  class="layout-menuitem-text">Submenu 2.1</span><i
                  class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
              <ul class="ng-trigger ng-trigger-children" style="height: 0px;">
                <li app-menuitem="" class="ng-tns-c207508854-40"><!----><a tabindex="0" pripple="" class="p-ripple"
                    pc71=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                      class="layout-menuitem-text">Submenu 2.1.1</span><!----></a><!----><!----><!----><!----></li>
                <li app-menuitem="" class="ng-tns-c207508854-41"><!----><a tabindex="0" pripple="" class="p-ripple"
                    pc72=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                      class="layout-menuitem-text">Submenu 2.1.2</span><!----></a><!----><!----><!----><!----></li>
                <!---->
              </ul><!----><!---->
            </li>
            <li app-menuitem="" class="ng-tns-c207508854-39"><!----><a tabindex="0" pripple="" class="p-ripple"
                pc73=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                  class="layout-menuitem-text">Submenu 2.2</span><i
                  class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
              <ul class="ng-trigger ng-trigger-children" style="height: 0px;">
                <li app-menuitem="" class="ng-tns-c207508854-42"><!----><a tabindex="0" pripple="" class="p-ripple"
                    pc74=""><i class="layout-menuitem-icon pi pi-fw pi-bookmark"></i><span
                      class="layout-menuitem-text">Submenu 2.2.1</span><!----></a><!----><!----><!----><!----></li>
                <!---->
              </ul><!----><!---->
            </li><!---->
          </ul><!----><!---->
        </li><!---->
      </ul><!----><!---->
    </li><!----><!----><!---->
    <li app-menuitem="" class="layout-root-menuitem ng-tns-c207508854-43">
      <div class="layout-menuitem-root-text">Get Started</div><!----><a tabindex="0" pripple="" class="p-ripple"
        pc75=""><i class="layout-menuitem-icon"></i><span class="layout-menuitem-text">Get Started</span><i
          class="pi pi-fw pi-angle-down layout-submenu-toggler"></i><!----></a><!----><!---->
      <ul class="ng-trigger ng-trigger-children">
        <li app-menuitem="" class="ng-tns-c207508854-44"><!----><!----><a routerlinkactive="active-route" tabindex="0"
            pripple="" class="p-ripple" href="/documentation" pc76=""><i
              class="layout-menuitem-icon pi pi-fw pi-book"></i><span
              class="layout-menuitem-text">Documentation</span><!----></a><!----><!----><!----></li>
        <li app-menuitem="" class="ng-tns-c207508854-45"><!----><a tabindex="0" pripple="" class="p-ripple"
            href="https://github.com/primefaces/sakai-ng" target="_blank" pc77=""><i
              class="layout-menuitem-icon pi pi-fw pi-github"></i><span class="layout-menuitem-text">View
              Source</span><!----></a><!----><!----><!----><!----></li><!---->
      </ul><!----><!---->
    </li><!----><!----><!----><!---->
  </ul>
</div>