.exmple-heading {
    margin: 1.5rem 0 0.5rem 0;
}

.csv-upload-log {
    max-height: 100px;
    overflow-y: scroll;
    background-color: var(--gray-50);
}

.chart-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: inherit;
}