<h1 class="page-title h3">{{ 'home.title' | translate }}</h1>
<div class="row g-4">
    @for (stat of stats; track stat; let index = $index) {
    <div class="col-12 col-lg-6 col-xl-3">
        <div class="card mb-0">
            <div class="d-flex justify-content-between mb-4">
                <div>
                    <span class="d-block fw-semibold mb-3">{{stat?.heading}}</span>
                    <div class="fs-4 fw-semibold text-dark">{{stat?.count}}</div>
                </div>
                <div class="d-flex align-items-center justify-content-center bg-primary-subtle rounded"
                    style="width: 2.5rem; height: 2.5rem">
                    <app-icon [name]="stat?.icon" [styleClass]="'text-primary fs-4'"></app-icon>
                </div>
            </div>
            <span class="text-primary fw-semibold">{{stat?.count}}</span>
            <span class="text-muted">some text</span>
        </div>
    </div>
    }

    <div class="col-12">
        <div class="card mb-0">
            <h6 class="mb-4">{{ 'home.updateHeader' | translate }}</h6>
            @if (post.length > 0) {
            <app-search-input (inputValue)="getSearchInputVal($event)" [resetInput]="resetSearchInput"
                [placeHolderText]="'Search...'"></app-search-input>
            @for (item of post; track item; let i = $index) {
            <div class="mb-3">
                <a class="link-primary text-decoration-none me-2"
                    [routerLink]="['post-details', item.id]" [state]="{ newsPageNumber: currentPageIndex }"
                    aria-label="{{item?.content_title}}" title="{{item?.content_title}}" role="link">
                    {{item?.content_title}}
                </a>
                <span class="text-muted" [innerHTML]="getTimeStampInfo(item)"></span>
            </div>
            }
            <p-paginator [rows]="itemPerPage" [first]="first" [totalRecords]="totalRecords"
                [rowsPerPageOptions]="itemPerPageDropdown" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onPageChange)="paginate($event)"></p-paginator>
            }
            @if (post.length === 0) {
            <p>{{ 'home.noLatestUpdates' | translate }}</p>
            }
        </div>
    </div>
</div>
