<h1 class="page-title">Add New Employee</h1>
<div class="back-to-page mb-3">
  <a [routerLink]="['/emp/manage']">
    <app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back
  </a>
</div>
<div class="row">
  <div class="col-12">
    <app-card>
      <div card-header>
        <h5>Form</h5>
      </div>
      <div card-body>
        <app-alert-message [mode]="'toast'"></app-alert-message>
        <div class="row">
          <div class="2-col-form col-md-9 col-lg-6">
            <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="id">
              <input type="hidden" formControlName="action">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="required" for="fullName">Full Name (as per govt id)</label>
                  <app-input [type]="'text'" [name]="'fullName'" [inputId]="'fullName'"
                    formControlName="fullName" [minLength]="3" [maxLength]="32"></app-input>
                  <app-validation-error [control]="myForm.controls['fullName']"></app-validation-error>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="required" for="workEmail">Organization Email (Login ID)</label>
                  <app-input [type]="'email'" [name]="'workEmail'" [inputId]="'workEmail'" formControlName="workEmail"></app-input>
                  <app-validation-error [control]="myForm.controls['workEmail']"></app-validation-error>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6 mb-3">
                  <label class="required" for="personalPhone">Personal Mobile</label>
                  <app-input [type]="'tel'" [name]="'personalPhone'" [inputId]="'personalPhone'" formControlName="personalPhone"
                    [maxLength]="10"></app-input>
                  <app-validation-error [control]="myForm.controls['personalPhone']"></app-validation-error>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="personalEmail">Personal Email</label>
                  <app-input [type]="'email'" [name]="'personalEmail'" [inputId]="'personalEmail'" formControlName="personalEmail"></app-input>
                  <app-validation-error [control]="myForm.controls['personalEmail']"></app-validation-error>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="required" for="dateOfBirth">Date of Birth</label>
                  <app-date-picker [name]="'dateOfBirth'" [inputId]="'dateOfBirth'" [dateFormat]="'dd/mm/yy'"
                    formControlName="dateOfBirth" [readonlyInput]="true" [minDate]="minDateDob" [maxDate]="maxDateDob"
                    [showButtonBar]="false" [showIcon]="true"></app-date-picker>
                  <app-validation-error [control]="myForm.controls['dateOfBirth']"></app-validation-error>
                </div>
                <div class="col-md-6 mb-3">
                  <app-radio-button [name]="'gender'" [label]="'Gender'" [options]="genderOptions"
                    formControlName="gender"></app-radio-button>
                  <app-validation-error [control]="myForm.controls['gender']"></app-validation-error>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="required" for="designation">Designation</label>
                  <app-select [name]="'designation'" [inputId]="'designation'" [placeholder]="'Select'"
                    [options]="designationOptionsWithOthers" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                    formControlName="designation"></app-select>
                  <app-validation-error [control]="myForm.controls['designation']"></app-validation-error>
                  @if (myForm.value['designation'] === '-1') {
                  <div class="mt-3">
                    <app-input [type]="'text'" [name]="'newDesignation'" [inputId]="'newDesignation'"
                      formControlName="newDesignation" [maxLength]="30" [placeholder]="'Other Designation'"></app-input>
                    <!-- <div class="small"><strong>Note:</strong> Make sure you are not adding duplicate entry.</div> -->
                    <app-validation-error [control]="myForm.controls['newDesignation']"></app-validation-error>
                  </div>
                  }
                </div>

                <div class="col-md-6 mb-3">
                  <label class="required" for="department">Department</label>
                  <app-select [name]="'department'" [inputId]="'department'" [placeholder]="'Select'"
                    [options]="departmentList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                    formControlName="department"></app-select>
                  <app-validation-error [control]="myForm.controls['department']"></app-validation-error>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="required" for="dateOfJoining">Date of Joining</label>
                  <app-date-picker [name]="'dateOfJoining'" [inputId]="'dateOfJoining'" [dateFormat]="'dd/mm/yy'"
                    formControlName="dateOfJoining" [readonlyInput]="true" [maxDate]="minDateDoj"
                    [showButtonBar]="false" [showIcon]="true"></app-date-picker>
                  <app-validation-error [control]="myForm.controls['dateOfJoining']"></app-validation-error>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="required" for="employmentType">Employment Type</label>
                  <app-select [name]="'employmentType'" [inputId]="'employmentType'" [placeholder]="'Select'"
                    [options]="employmentTypeList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                    formControlName="employmentType"></app-select>
                  <app-validation-error [control]="myForm.controls['employmentType']"></app-validation-error>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="required" for="workspaceSolution">Workspace Type</label>
                  <app-select [name]="'workspaceSolution'" [inputId]="'workspaceSolution'" [placeholder]="'Select'"
                    [options]="workspaceSolutionList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                    formControlName="workspaceSolution"></app-select>
                  <app-validation-error [control]="myForm.controls['workspaceSolution']"></app-validation-error>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="required" for="baseWorkLocation">Base Work Location</label>
                  <app-select [name]="'baseWorkLocation'" [inputId]="'baseWorkLocation'" [placeholder]="'Select'"
                    [options]="baseWorkLocationList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                    formControlName="baseWorkLocation"></app-select>
                  <app-validation-error [control]="myForm.controls['baseWorkLocation']"></app-validation-error>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-3">
                  <app-radio-button [name]="'role'" [label]="'User Role'" [options]="roleOptions"
                    formControlName="role"></app-radio-button>
                  @if (myForm.controls['role'].value === '1') {
                  <div class="small alert alert-info">
                    <strong>Note: </strong> Are you sure you want to grant administrator permission?
                    <br>Employees with the "administrator" role have access to "restricted"
                    organizational
                    data or information and may add, alter, or delete it. It is advised to select
                    the role
                    as "user" while registering an employee in the portal.
                  </div>
                  }

                  <app-validation-error [control]="myForm.controls['role']"></app-validation-error>
                </div>
              </div>

              <app-button [type]="'submit'" [loading]="loading" [disabled]="loading">Submit</app-button>
            </form>
            <!-- <p>Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
              <p>{{myForm.value|json}}</p> -->
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>