<h1 class="page-title"><span>{{title}}</span> Payroll Information</h1>
<div class="back-to-page mb-3">
  <a [routerLink]="['/emp/my-profile']"><app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back</a>
</div>
<div class="row">
  <div class="col-12">
    <app-card>
      <div card-header>Form</div>
      <div card-body>
        <div class="row">
          <div class="col-md-6 col-lg-5 col-xl-4">
            <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="id">
              <input type="hidden" formControlName="action">
              <h5>Govt ID</h5>
              <div class="mb-3">
                <label class="optional" for="panNo">PAN No</label>
                <app-input [type]="'text'" [name]="'panNo'" [inputId]="'panNo'" formControlName="panNo"></app-input>
                <app-validation-error [control]="myForm.controls['panNo']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="optional" for="uanNo">UAN No</label>
                <app-input [type]="'text'" [name]="'uanNo'" [inputId]="'uanNo'" formControlName="uanNo"></app-input>
                <app-validation-error [control]="myForm.controls['uanNo']"></app-validation-error>
              </div>

              <h5>Salary Account</h5>
              <div class="mb-3">
                <label class="required" for="accountNo">Account No</label>
                <app-input [type]="'text'" [name]="'accountNo'" [inputId]="'accountNo'" formControlName="accountNo"></app-input>
                <app-validation-error [control]="myForm.controls['accountNo']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="required" for="confirmAccountNo">Confirm Account No</label>
                <app-input [type]="'text'" [name]="'confirmAccountNo'" [inputId]="'confirmAccountNo'"
                  formControlName="confirmAccountNo"></app-input>
                <app-validation-error
                [control]="myForm.controls['confirmAccountNo']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="required" for="bank">Select Bank</label>
                <app-select [name]="'bank'" [inputId]="'bank'" [placeholder]="'Select'" [options]="bankList"
                  [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false" formControlName="bank"></app-select>
                <app-validation-error [control]="myForm.controls['bank']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="required" for="ifscCode">IFSC Code</label>
                <app-input [type]="'text'" [name]="'ifscCode'" [inputId]="'ifscCode'" formControlName="ifscCode"></app-input>
                <app-validation-error [control]="myForm.controls['ifscCode']"></app-validation-error>
              </div>

              <app-button [type]="'submit'">Submit</app-button>
            </form>
            <!-- <p class="debug">Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
            <p class="debug">{{myForm.value|json}}</p> -->
          </div>
        </div>

      </div>
    </app-card>

  </div>
</div>