<h1 class="page-title text-center">{{ 'auth.titleResetPassword' | translate }}</h1>
<form [formGroup]="resetPasswordForm" class="app-form unauth-form-max-w" (ngSubmit)="onSubmit()" role="form">
    <div class="row mb-3">
        <div class="col-12 mb-3">
            <label class="required form-label d-flex fw-semibold" for="otp">{{ 'auth.labelOtp' | translate }}</label>
            <input pInputText type="password" class="w-100" id="otp" formControlName="otp"
                [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }">
            <app-validation-error [control]="f['otp']"></app-validation-error>
        </div>
        <div class="col-12 mb-3">
            <label class="required form-label d-flex fw-semibold" for="email">{{ 'auth.labelEmail' | translate }}</label>
            <input pInputText type="text" class="w-100" id="email" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
            <app-validation-error [control]="f['email']"></app-validation-error>
        </div>
        <div class="col-12 mb-3">
            <label class="required form-label d-flex fw-semibold" for="newPassword">{{ 'auth.labelNewPassword' | translate }}</label>
            <input pInputText type="password" class="w-100" id="newPassword" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
            <app-validation-error [control]="f['password']"></app-validation-error>
            <small id="passwordHelp" class="form-text text-muted">{{ 'auth.passwordHint' | translate }}</small>
        </div>
        <div class="col-12 mb-3">
            <label class="required form-label d-flex fw-semibold" for="confirmPassword">{{ 'auth.labelConfirmPassword' | translate }}</label>
            <input pInputText type="password" class="w-100" id="confirmPassword" formControlName="confirmPassword"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
            <app-validation-error [control]="f['confirmPassword']"></app-validation-error>
        </div>
    </div>

    <div class="row mb-3">
        <div class="d-grid col-md-12 mb-3"><button pButton pRipple type="submit">{{ 'button.submit' | translate
                }}</button></div>
        <div class="col-md-12 text-center"><a class="btn btn-link px-0" routerLink="../login">{{ 'auth.goBackToLogin' |
                translate }}</a></div>
    </div>
</form>