<h1 class="page-title">Log Timesheet</h1>
<a [routerLink]="['/dashboard/my-analytics/emp/', loggedInUserId]">View My Analytics <app-icon [name]="'chevronRight'" [styleClass]=""></app-icon></a>
<div class="row mt-3">
  <div class="col-md-12">
    <app-card>
      <div card-header>Timesheet Form</div>
      <div card-body>
        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="id">
          <input type="hidden" formControlName="action" value="add">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <app-date-picker [label]="'Select Dates'" [name]="'timeSheetDates'" [inputId]="'cal'"
                  [styleClass]="'w-100'" [dateFormat]="'dd/mm/yy'" [inline]="true" [selectionMode]="'multiple'"
                  [showWeek]="false" [minDate]="minDate" [maxDate]="maxDate" [maxDateCount]="maxDateCount"
                  (onMonthChange)="monthYearChange($event)" (onYearChange)="monthYearChange($event)"
                  formControlName="timeSheetDates">
                  <ng-template pTemplate="date" let-date>
                    <span [ngClass]="getCSSClass(date)">{{date.day}}</span>
                  </ng-template>
                </app-date-picker>
                @if ((myForm.controls['timeSheetDates'].touched || submitted ) && myForm.controls['timeSheetDates'].errors) {
                  <div class="text-sm error-message"
                    >
                    <span>Please choose at least one day from the calendar.</span>
                  </div>
                }
                <div id="cal" class="form-text text-muted"><strong>Note: </strong>You are allowed to select maximum
                {{maxDateCount}}
              days.</div>
              <div class="indicator mt-2 form-text">
                <strong>Indicators: </strong>
                <span class="date-filled">DD</span>
                <span class="mx-1">task logged,</span>

                <span class="date-holiday-opt">DD</span>
                <span class="mx-1">optional holidays,</span>

                <span class="date-holiday">DD</span>
                <span class="mx-1">holidays.</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <app-select [label]="'Project'" [name]="'project'" [inputId]="'project'" [placeholder]="'Select'"
                [options]="projectList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                formControlName="project"></app-select>
              <app-validation-error [control]="myForm.controls['project']"></app-validation-error>
            </div>

            <div class="mb-3">
              <app-select [label]="'Task'" [name]="'task'" [inputId]="'task'" [placeholder]="'Select'"
                [options]="taskList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                formControlName="task"></app-select>
              <app-validation-error [control]="myForm.controls['task']"></app-validation-error>
            </div>

            <div class="mb-3">
              <app-input [label]="'Hours'" [type]="'number'" [name]="'hours'" [inputId]="'hours'" [min]="0.25"
                [max]="9" [step]="0.5" formControlName="hours"></app-input>
              <app-validation-error [control]="myForm.controls['hours']"></app-validation-error>
            </div>
            <div class="mb-3">
              <app-text-area [label]="'Task Description'" [name]="'description'" [textareaId]="'description'"
                [maxLength]="150" [placeholder]="'Briefly describe in 150 characters (if necessary)'"
                formControlName="description"></app-text-area>
              <div class="small text-muted">{{myForm.controls['description'].value ? (150 - myForm.controls['description'].value.length) : 150}} characters left</div>
              <app-validation-error [control]="myForm.controls['description']"></app-validation-error>
            </div>


            <button type="submit" class="btn btn-primary" [disabled]="loading">@if (loading) {
              <span
              class="spinner-border spinner-border-sm me-1"></span>
            } Submit</button>
          </div>
        </div>
      </form>
    </div>
  </app-card>

  <app-card styleClass="mt-3">
    <div card-header>Work Log - {{monthName}}, {{year}}</div>
    <div card-body>
      <h5 class="card-title"></h5>
      <app-view-timesheet [timeSheetLogData]="timesheetData"
      (recordDeleted)="isDeleteComplete($event)"></app-view-timesheet>
    </div>
  </app-card>
</div>
</div>