<h1 class="page-title h3">
  {{ 'auth.titleLogin' | translate }}
</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <label for="username" class="form-label">{{'auth.yourEmail' | translate}}</label>
    <app-input [type]="'text'" [name]="'username'" [inputId]="'username'"
      [placeholder]="'auth.placeholderUsername' | translate" formControlName="userName" [class]="'w-100'"
      [ariaLabel]="'Username'"></app-input>
    <app-validation-error [control]="f['userName']"></app-validation-error>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">{{'auth.yourPassword' | translate}}</label>
    <app-input [type]="'password'" [name]="'password'" [inputId]="'password'"
      [placeholder]="'auth.placeholderPassword' | translate" formControlName="password" [class]="'w-100'"
      [ariaLabel]="'Password'"></app-input>
    <app-validation-error [control]="f['password']"></app-validation-error>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <app-checkbox [label]="'auth.rememberMe' | translate"></app-checkbox>
    <a class="" routerLink="../forgot-password">{{ 'auth.forgotPassword' | translate }}</a>
  </div>
  <app-button [type]="'submit'" [label]="('button.submit' | translate)" [disabled]="loading || loginForm.invalid"
    [loading]="loading" [class]="'w-100 d-block'"></app-button>

  <p class="pt-4">
    Don't have an account yet? <a [routerLink]="['../sign-up']" class="">Sign up</a>
  </p>
</form>