<h1 class="page-title h3">
  {{ 'auth.titleForgotPassword' | translate }}
</h1>
<form [formGroup]="fpForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">{{'auth.yourEmail' | translate}}</label>
    <input pInputText type="text" placeholder="{{ 'auth.placeholderUsername' | translate }}" formControlName="email"
      aria-label="Username" aria-describedby="basic-addon1" class="w-100 d-block" id="email" />
    <app-validation-error [control]="f['email']"></app-validation-error>
  </div>
  <div class="d-flex align-items-center justify-content-between mb-4">
    <a class="" routerLink="../login">{{ 'auth.goBackToLogin' | translate }}</a>
  </div>
  <app-button [type]="'submit'" [label]="('button.sendOtp' | translate)" [disabled]="loading || fpForm.invalid"
    [loading]="loading" [class]="'w-100'"></app-button>
</form>