<!-- <h1 class="page-title">View Details</h1> -->
<h1 class="page-title">{{post?.content_title}}</h1>
<div class="back-to-page mb-3">
  <a [routerLink]="['/dashboard']" [state]="{ newsPageNumber: paginationPageNumber }">
    {{ 'home.goBack' | translate }}
  </a>
</div>

@if (post?.id) {
  <div class="col-span-12">
    <div class="card mb-0">
      <!-- <h3>{{post?.content_title}}</h3> -->
      <p>{{post?.content_type}}, <span class="text-sm">{{getTimeStampInfo(post)}}</span></p>
      <div class="main-content-description-wrapper" [innerHTML]="post?.content_text"></div>
    </div>
  </div>
}