<div class="grid grid-cols-12 gap-8">
  <div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">Orders</span>
          <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">152</div>
        </div>
        <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
          style="width: 2.5rem; height: 2.5rem">
          <i class="pi pi-shopping-cart text-blue-500 text-xl!"></i>
        </div>
      </div>
      <span class="text-primary font-medium">24 new </span>
      <span class="text-muted-color">since last visit</span>
    </div>
  </div>
  <div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">Revenue</span>
          <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">$2.100</div>
        </div>
        <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border"
          style="width: 2.5rem; height: 2.5rem">
          <i class="pi pi-dollar text-orange-500 text-xl!"></i>
        </div>
      </div>
      <span class="text-primary font-medium">%52+ </span>
      <span class="text-muted-color">since last week</span>
    </div>
  </div>
  <div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">Customers</span>
          <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">28441</div>
        </div>
        <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border"
          style="width: 2.5rem; height: 2.5rem">
          <i class="pi pi-users text-cyan-500 text-xl!"></i>
        </div>
      </div>
      <span class="text-primary font-medium">520 </span>
      <span class="text-muted-color">newly registered</span>
    </div>
  </div>
  <div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">Comments</span>
          <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">152 Unread</div>
        </div>
        <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border"
          style="width: 2.5rem; height: 2.5rem">
          <i class="pi pi-comment text-purple-500 text-xl!"></i>
        </div>
      </div>
      <span class="text-primary font-medium">85 </span>
      <span class="text-muted-color">responded</span>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <div class="card mb-0">col-span-12 xl:col-span-6</div>
    <div class="card mb-0">col-span-12 xl:col-span-6</div>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <div class="card mb-0">col-span-12 xl:col-span-6</div>
    <div class="card mb-0">col-span-12 xl:col-span-6</div>
  </div>
</div>



<div class="flex flex-col md:flex-row gap-8 mt-8">
  <div class="md:w-1/2">
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Default</div>
      <div class="flex flex-wrap gap-2">
        <p-button label="Submit"></p-button>
        <p-button label="Disabled" [disabled]="true"></p-button>
        <p-button label="Link" class="p-button-link" />
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Severities</div>
      <div class="flex flex-wrap gap-2">
        <p-button label="Primary" />
        <p-button label="Secondary" severity="secondary" />
        <p-button label="Success" severity="success" />
        <p-button label="Info" severity="info" />
        <p-button label="Warn" severity="warn" />
        <p-button label="Help" severity="help" />
        <p-button label="Danger" severity="danger" />
        <p-button label="Contrast" severity="contrast" />
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Text</div>
      <div class="flex flex-wrap gap-2">
        <p-button label="Primary" text />
        <p-button label="Secondary" severity="secondary" text />
        <p-button label="Success" severity="success" text />
        <p-button label="Info" severity="info" text />
        <p-button label="Warn" severity="warn" text />
        <p-button label="Help" severity="help" text />
        <p-button label="Danger" severity="danger" text />
        <p-button label="Plain" text />
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Outlined</div>
      <div class="flex flex-wrap gap-2">
        <p-button label="Primary" outlined />
        <p-button label="Secondary" severity="secondary" outlined />
        <p-button label="Success" severity="success" outlined />
        <p-button label="Info" severity="info" outlined />
        <p-button label="warn" severity="warn" outlined />
        <p-button label="Help" severity="help" outlined />
        <p-button label="Danger" severity="danger" outlined />
        <p-button label="Contrast" severity="contrast" outlined />
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Group</div>
      <div class="flex flex-wrap gap-2">
        <p-buttongroup>
          <p-button label="Save" icon="pi pi-check" />
          <p-button label="Delete" icon="pi pi-trash" />
          <p-button label="Cancel" icon="pi pi-times" />
        </p-buttongroup>
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">SplitButton</div>
      <div class="flex flex-wrap gap-2">
        <p-splitbutton label="Save" [model]="items"></p-splitbutton>
        <p-splitbutton label="Save" [model]="items" severity="secondary"></p-splitbutton>
        <p-splitbutton label="Save" [model]="items" severity="success"></p-splitbutton>
        <p-splitbutton label="Save" [model]="items" severity="info"></p-splitbutton>
        <p-splitbutton label="Save" [model]="items" severity="warn"></p-splitbutton>
        <p-splitbutton label="Save" [model]="items" severity="help"></p-splitbutton>
        <p-splitbutton label="Save" [model]="items" severity="danger"></p-splitbutton>
        <p-splitbutton label="Save" [model]="items" severity="contrast"></p-splitbutton>
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Templating</div>
      <div class="flex flex-wrap gap-2">
        <p-button type="button">
          <img alt="logo" src="https://primefaces.org/cdn/primeng/images/logo.svg" style="width: 1.5rem" />
        </p-button>
        <p-button type="button" outlined severity="success">
          <img alt="logo" src="https://primefaces.org/cdn/primeng/images/logo.svg" style="width: 1.5rem" />
          <span class="text-bold">PrimeNG</span>
        </p-button>
      </div>
    </div>
  </div>
  <div class="md:w-1/2">
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Icons</div>
      <div class="flex flex-wrap gap-2">
        <p-button icon="pi pi-bookmark"></p-button>
        <p-button label="Bookmark" icon="pi pi-bookmark"></p-button>
        <p-button label="Bookmark" icon="pi pi-bookmark" iconPos="right"></p-button>
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Raised</div>
      <div class="flex flex-wrap gap-2">
        <p-button label="Primary" raised />
        <p-button label="Secondary" severity="secondary" raised />
        <p-button label="Success" severity="success" raised />
        <p-button label="Info" severity="info" raised />
        <p-button label="Warn" severity="warn" raised />
        <p-button label="Help" severity="help" raised />
        <p-button label="Danger" severity="danger" raised />
        <p-button label="Contrast" severity="contrast" raised />
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Rounded</div>
      <div class="flex flex-wrap gap-2">
        <p-button label="Primary" rounded />
        <p-button label="Secondary" severity="secondary" rounded />
        <p-button label="Success" severity="success" rounded />
        <p-button label="Info" severity="info" rounded />
        <p-button label="Warn" severity="warn" rounded />
        <p-button label="Help" severity="help" rounded />
        <p-button label="Danger" severity="danger" rounded />
        <p-button label="Contrast" severity="contrast" rounded />
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Rounded Icons</div>
      <div class="flex flex-wrap gap-2">
        <p-button icon="pi pi-check" rounded />
        <p-button icon="pi pi-bookmark" severity="secondary" rounded />
        <p-button icon="pi pi-search" severity="success" rounded />
        <p-button icon="pi pi-user" severity="info" rounded />
        <p-button icon="pi pi-bell" severity="warn" rounded />
        <p-button icon="pi pi-heart" severity="help" rounded />
        <p-button icon="pi pi-times" severity="danger" rounded />
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Rounded Text</div>
      <div class="flex flex-wrap gap-2">
        <p-button icon="pi pi-check" text raised rounded />
        <p-button icon="pi pi-bookmark" severity="secondary" text raised rounded />
        <p-button icon="pi pi-search" severity="success" text raised rounded />
        <p-button icon="pi pi-user" severity="info" text raised rounded />
        <p-button icon="pi pi-bell" severity="warn" text raised rounded />
        <p-button icon="pi pi-heart" severity="help" text raised rounded />
        <p-button icon="pi pi-times" severity="danger" text raised rounded />
      </div>
    </div>
    <div class="card flex flex-col gap-4">
      <div class="font-semibold text-xl">Rounded Outlined</div>
      <div class="flex flex-wrap gap-2">
        <p-button icon="pi pi-check" rounded outlined />
        <p-button icon="pi pi-bookmark" severity="secondary" rounded outlined />
        <p-button icon="pi pi-search" severity="success" rounded outlined />
        <p-button icon="pi pi-user" severity="info" rounded outlined />
        <p-button icon="pi pi-bell" severity="warn" rounded outlined />
        <p-button icon="pi pi-heart" severity="help" rounded outlined />
        <p-button icon="pi pi-times" severity="danger" rounded outlined />
      </div>
    </div>
    <!-- <div class="card flex flex-col gap-4">
    <div class="font-semibold text-xl">Loading</div>
    <div class="flex flex-wrap gap-2">
      <p-button type="button" label="Search" icon="pi pi-search" [loading]="loading[0]" (click)="load(0)" />
      <p-button type="button" label="Search" icon="pi pi-search" iconPos="right" [loading]="loading[1]" (click)="load(1)" />
      <p-button type="button" styleClass="h-full" icon="pi pi-search" [loading]="loading[2]" (click)="load(2)" />
      <p-button type="button" label="Search" [loading]="loading[3]" (click)="load(3)" />
    </div>
  </div> -->
  </div>
</div>


<p-fluid>
  <div class="flex flex-col md:flex-row gap-8">
    <div class="md:w-1/2">
      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">Vertical</div>
        <div class="flex flex-col gap-2">
          <label for="name1">Name</label>
          <input pInputText id="name1" type="text" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="email1">Email</label>
          <input pInputText id="email1" type="text" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="age1">Age</label>
          <input pInputText id="age1" type="text" />
        </div>
      </div>

      <div class="card flex flex-col gap-4 mt-8">
        <div class="font-semibold text-xl">Vertical Grid</div>
        <div class="flex flex-wrap gap-6">
          <div class="flex flex-col grow basis-0 gap-2">
            <label for="name2">Name</label>
            <input pInputText id="name2" type="text" />
          </div>
          <div class="flex flex-col grow basis-0 gap-2">
            <label for="email2">Email</label>
            <input pInputText id="email2" type="text" />
          </div>
        </div>
      </div>
    </div>
    <div class="md:w-1/2">
      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">Horizontal</div>
        <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
          <label for="name3" class="flex items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Name</label>
          <div class="col-span-12 md:col-span-10">
            <input pInputText id="name3" type="text" />
          </div>
        </div>
        <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
          <label for="email3" class="flex items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Email</label>
          <div class="col-span-12 md:col-span-10">
            <input pInputText id="email3" type="text" />
          </div>
        </div>
      </div>

      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">Inline</div>
        <div class="flex flex-wrap items-start gap-6">
          <div class="field">
            <label for="firstname1" class="sr-only">Firstname</label>
            <input pInputText id="firstname1" type="text" placeholder="Firstname" />
          </div>
          <div class="field">
            <label for="lastname1" class="sr-only">Lastname</label>
            <input pInputText id="lastname1" type="text" placeholder="Lastname" />
          </div>
          <p-button label="Submit" [fluid]="false"></p-button>
        </div>
      </div>
      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">Help Text</div>
        <div class="flex flex-wrap gap-2">
          <label for="username">Username</label>
          <input pInputText id="username" type="text" />
          <small>Enter your username to reset your password.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="flex mt-8">
    <div class="card flex flex-col gap-6 w-full">
      <div class="font-semibold text-xl">Advanced</div>
      <div class="flex flex-col md:flex-row gap-6">
        <div class="flex flex-wrap gap-2 w-full">
          <label for="firstname2">Firstname</label>
          <input pInputText id="firstname2" type="text" />
        </div>
        <div class="flex flex-wrap gap-2 w-full">
          <label for="lastname2">Lastname</label>
          <input pInputText id="lastname2" type="text" />
        </div>
      </div>

      <div class="flex flex-wrap">
        <label for="address">Address</label>
        <textarea pTextarea id="address" rows="4"></textarea>
      </div>

      <div class="flex flex-col md:flex-row gap-6">
        <div class="flex flex-wrap gap-2 w-full">
          <label for="state">State</label>
          <p-select id="state" [options]="[]" optionLabel="name" placeholder="Select One" class="w-full"></p-select>
        </div>
        <div class="flex flex-wrap gap-2 w-full">
          <label for="zip">Zip</label>
          <input pInputText id="zip" type="text" />
        </div>
      </div>
    </div>
  </div>
</p-fluid>


<div class="my-8">
  <p-toolbar>
    <ng-template #start>
      <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" />
      <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined />
    </ng-template>
    <ng-template #end>
      <p-button label="Export" icon="pi pi-upload" severity="secondary" />
    </ng-template>
  </p-toolbar>
</div>

<div class="flex mt-8">
  <div class="card w-full">
    <p-table [value]="products">
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.quantity}}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
      [rowsPerPageOptions]="rowsPerPageOptions"></p-paginator>
  </div>
</div>



<div class="flex mt-8">
  <div class="card w-full">
    <p-messages [(value)]="serverSideMsg" [enableService]="false"></p-messages>
    <p>To display a toast message in full width we need to use <code>position="top-center" styleClass="w-100"</code>
      attributes. For additional customization refer to PrimeNG official documentation.</p>
    <button type="button" pButton pRipple (click)="showSuccess()" label="Success Toast"
      class="p-button-success me-3"></button>
    <button type="button" pButton pRipple (click)="showInfo()" label="Info Toast" class="p-button-info me-3"></button>
    <button type="button" pButton pRipple (click)="showWarn()" label="Warn Toast"
      class="p-button-warning me-3"></button>
    <button type="button" pButton pRipple (click)="showError()" label="Error Toast"
      class="p-button-danger me-3"></button>
  </div>
</div>


<div class="flex mt-8">
  <div class="card gap-6 w-full">
    <h5>Charts</h5>
    <div class="my-4">
      @for (type of chartTypes; track type) {
      <button pButton class="m-2" (click)="changeChartType(type)">
        {{ type | titlecase }}
      </button>
      }
      <button pButton class="m-1" (click)="toggleLegend()">
        Toggle Legend
      </button>
      <button pButton class="m-1" (click)="downloadChart()">
        Download Chart
      </button>
      <button pButton (click)="updateChartData()">
        Refresh Data
      </button>
    </div>
    <p-chart [type]="chartType" [data]="chartData" [options]="chartOptions"></p-chart>
  </div>
</div>