:root {
    --app-primary-color: var(--p-primary-color);
    --app-primary-contrast-color: var(--p-primary-contrast-color);
    --app-text-color: var(--p-text-color);
    --app-text-color-secondary: var(--p-text-muted-color);
    --app-surface-border: var(--p-content-border-color);
    --app-surface-card: var(--p-content-background);
    --app-surface-hover: var(--p-content-hover-background);
    --app-surface-overlay: var(--p-overlay-popover-background);
    --app-transition-duration: var(--p-transition-duration);
    --app-maskbg: var(--p-mask-background);
    --app-content-border-radius: var(--p-content-border-radius);
    --app-layout-section-transition-duration: 0.2s;
    --app-element-transition-duration: var(--p-transition-duration);
    --app-focus-ring-width: var(--p-focus-ring-width);
    --app-focus-ring-style: var(--p-focus-ring-style);
    --app-focus-ring-color: var(--p-focus-ring-color);
    --app-focus-ring-offset: var(--p-focus-ring-offset);
    --app-focus-ring-shadow: var(--p-focus-ring-shadow);
    --app-error-message-text: var(--p-error-message-color);
}
