:root[class*='app-dark'] {
    --app-surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --app-error-message-text: var(--p-message-error-color, #ef4444);
}
