<h1 class="page-title text-center">{{ 'auth.titleForgotPassword' | translate }}</h1>
<p class="text-center">{{ 'auth.infoTextForgotPassword' | translate }}</p>
<form [formGroup]="fpForm" class="app-form unauth-form-max-w" (ngSubmit)="onSubmit()" role="form">
  <div class="row mb-3">
    <div class="col">
      <p-inputgroup>
        <p-inputgroup-addon>
          <app-icon [name]="'email'" [styleClass]="'f-20'"></app-icon>
        </p-inputgroup-addon>
        <input pInputText type="text" placeholder="{{ 'auth.labelEmailAddress' | translate }}" formControlName="email"
          aria-label="Email" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
      </p-inputgroup>
      <input type="hidden" formControlName="action">
      <app-validation-error [control]="f['email']"></app-validation-error>
    </div>
  </div>
  <div class="row">
    <div class="d-grid col-md-12 mb-3">
      <button pButton pRipple type="submit" [disabled]="loading" [loading]="loading">{{ 'button.sendOtp' | translate }}</button>
    </div>
    <div class="col-md-12 text-center"><a class="btn btn-link px-0" routerLink="../login">{{ 'auth.goBackToLogin' | translate }}</a>
    </div>
  </div>
</form>