<h1 class="page-title">Manage Employees</h1>
<div class="mb-4">
  <app-toolbar [styleClass]="'mb-3'">
    <ng-template #start>
      <app-button severity="success" (clickAction)="navigateToAddUser()" class="me-2">Add New</app-button>
      <!-- <app-button [icon]="'pi pi-plus'" [variant]="'outlined'" [severity]="'success'"></app-button> -->
    </ng-template>

    <ng-template #end>
      <div class="d-flex gap-2">
        <app-input [placeholder]="'Search'" [(ngModel)]="searchKeyword" />
        <app-button label="Search" icon="pi pi-search" severity="secondary"
          (clickAction)="getSearchKeyword(searchKeyword)" />
      </div>
    </ng-template>
  </app-toolbar>

</div>
<div class="mb">

  <app-card>
    <div card-body>
      <app-data-table [dataValue]="userList" [columns]="userDTColumns" [caption]="'Employee Data'" [dataKey]="'id'"
        [expandableRows]="true" [sortMode]="'single'" [actions]="userDTActions">
        <ng-template #expandedRow let-rowData>
          <!-- {{rowData | json}} -->
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="fw-bold">Employee ID</td>
                <td>{{rowData.user_uid || '-'}}</td>
                <td class="fw-bold">Designation</td>
                <td>{{rowData.designation_name || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Personal Email</td>
                <td>{{rowData.user_email2 || '-'}}</td>
                <td class="fw-bold">Work Phone</td>
                <td>{{rowData.user_phone2 || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Employment Type</td>
                <td>{{rowData.employment_type_name || '-'}}</td>
                <td class="fw-bold">Department</td>
                <td>{{rowData.department_name || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Role Group</td>
                <td>{{rowData.user_role+'-'+rowData?.role_name}}
                <td class="fw-bold">User Type</td>
                <td>{{rowData.user_type || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Date of Joining</td>
                <td>{{ rowData.user_doj ? (rowData.user_doj | date: 'dd-MM-YYYY') : '-' }}</td>
                <td class="fw-bold">Created On</td>
                <td>{{ rowData.user_registration_date ? (rowData.user_registration_date | date: 'dd-MM-YYYY h:mm:ss a') : '' }}</td>
              </tr>
              <tr>
                <td class="fw-bold">Date of Release</td>
                <td>{{ rowData.user_dor ? (rowData.user_dor | date: 'dd-MM-YYYY') : 'NA' }}</td>
                <td class="fw-bold">Last Login</td>
                <td>{{ rowData.user_login_date_time ? (rowData.user_login_date_time | date: 'dd-MM-YYYY h:mm:ss a') : '-' }}</td>
              </tr>
              <tr>
                <td class="fw-bold">Account Status</td>
                <td>
                  <span *ngIf="rowData?.user_status === 'Y' " class="" title="Active">
                    <app-icon class="text-success me-2" [name]="'circle-fill'" [height]="12"
                      [width]="12"></app-icon>Active</span>
                  <span *ngIf="rowData?.user_status === 'N' " class="" title="Inactive"><app-icon
                      class="text-warning me-2" [name]="'circle-fill'" [height]="12"
                      [width]="12"></app-icon>Inactive</span>
                  <span *ngIf="rowData?.user_status === 'A' " class="" title="Closed"><app-icon class="text-danger me-2"
                      [name]="'circle-fill'" [height]="12" [width]="12"></app-icon>Archived</span>
                </td>
                <td class="fw-bold">Profile Link</td>
                <td>
                  <a [routerLink]="['../../user/profile', rowData.id]">Click here</a>
                </td>
              </tr>
              <tr>
                <td class="fw-bold">Closed On</td>
                <td>{{ rowData.account_closed_datetime ? (rowData.account_closed_datetime | date: 'dd-MM-YYYY h:mm:ss a') : 'NA' }}</td>
                <td class="fw-bold">Comments</td>
                <td>{{ rowData.account_close_comments ? rowData.account_close_comments : 'NA' }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </app-data-table>
    </div>
    <div card-footer class="d-flex gap-2 justify-content-center">
      <app-pagination [itemPerPage]="itemPerPage" [first]="first" [totalRecords]="totalRecords" (handlePageChange)="paginate($event)"></app-pagination>
    </div>
  </app-card>
</div>