<h1 class="page-title">Manage Employees</h1>
<div class="mb-4">
  <app-toolbar [styleClass]="'mb-3'">
    <ng-template #start>
      <app-button severity="success" (clickAction)="navigateToAddUser()" class="me-2">Add New</app-button>
      <!-- <app-button [icon]="'pi pi-plus'" [variant]="'outlined'" [severity]="'success'"></app-button> -->
    </ng-template>

    <ng-template #end>
      <div class="d-flex gap-2">
        <app-input [placeholder]="'Search'" [(ngModel)]="searchKeyword" />
        <app-button label="Search" icon="pi pi-search" severity="secondary"
          (clickAction)="getSearchKeyword(searchKeyword)" />
      </div>
    </ng-template>
  </app-toolbar>

</div>
<div class="mb">

  <app-card>
    <div card-body>
      <app-data-table [dataValue]="userList" [columns]="userDTColumns" [caption]="'Employee Data'" [dataKey]="'id'"
        [expandableRows]="true" [sortMode]="'single'" [actions]="userDTActions">
        <ng-template #expandedRow let-rowData>
          <!-- {{rowData | json}} -->
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="fw-bold">Employee ID</td>
                <td>{{rowData?.user_uid || '-'}}</td>
                <td class="fw-bold">Designation</td>
                <td>{{rowData?.designation_name || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Employment Type</td>
                <td>{{rowData?.employment_type_name || '-'}}</td>
                <td class="fw-bold">Department</td>
                <td>{{rowData?.department_name || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Work Email</td>
                <td>{{rowData?.user_email || '-'}}</td>
                <td class="fw-bold">Work Phone</td>
                <td>{{rowData?.user_phone2 || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Base Work Location</td>
                <td>{{rowData?.base_work_location_name || '-'}}</td>
                <td class="fw-bold">Workspace Type</td>
                <td>{{rowData?.workspace_type_name || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Personal Email</td>
                <td>{{rowData?.user_email2 || '-'}}</td>
                <td class="fw-bold">Personal Phone</td>
                <td>{{rowData?.user_phone || '-'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Date of Birth</td>
                <td>{{ rowData?.user_dob ? (rowData.user_dob | date: 'dd/MM/yyyy') : 'NA' }}</td>
                <td class="fw-bold">Gender</td>
                <td>{{rowData?.user_gender === 'M' ? 'Male' : 'Female'}}</td>
              </tr>

              <tr>
                <td class="fw-bold">Role Group</td>
                <td>{{rowData?.user_role+'-'+rowData?.role_name}}</td>
                <td class="fw-bold">User Type</td>
                <td>{{ rowData?.user_type === 'U' ? 'Registered User' : (rowData?.user_type === 'S' ? 'System User' : '-') }}</td>
              </tr>
              <tr>
                <td class="fw-bold">Date of Joining</td>
                <td>{{ rowData?.user_doj ? (rowData.user_doj | date: 'dd/MM/yyyy') : '-' }}</td>
                <td class="fw-bold">Date of Release</td>
                <td>{{ rowData?.user_dor ? (rowData.user_dor | date: 'dd/MM/yyyy') : 'NA' }}</td>
              </tr>
              <tr>
                <td class="fw-bold">Created On</td>
                <td>{{ rowData?.user_created_on ? (rowData.user_created_on | date: 'dd/MM/yyyy h:mm:ss a') : '-' }}</td>
                <td class="fw-bold">Last Login</td>
                <td>{{ rowData?.user_login_date_time ? (rowData.user_login_date_time | date: 'dd/MM/yyyy h:mm:ss a') : '-' }}</td>
              </tr>
              <tr>
                <td class="fw-bold">Created By</td>
                <td>{{rowData?.user_created_by || '-'}}</td>
                <td class="fw-bold">Status Updated By</td>
                <td>{{rowData?.user_status_updated_by || '-'}}
                </td>
              </tr>
              <tr>
                <td class="fw-bold">Account Status</td>
                <td>
                  @if (rowData?.user_status === 'Y') {
                    <span class="badge rounded-pill bg-success">Active</span>
                  } @else if (rowData?.user_status === 'N') {
                    <span class="badge rounded-pill bg-warning text-dark">Inactive</span>
                  } @else if (rowData?.user_status === 'A') {
                    <span class="badge rounded-pill bg-danger">Archived</span>
                  }
                </td>
                <td class="fw-bold">Status Updated On</td>
                <td>{{ rowData?.user_status_updated_on ? (rowData.user_status_updated_on | date: 'dd/MM/yyyy h:mm:ss a') : 'NA' }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </app-data-table>
    </div>
    <div card-footer class="d-flex gap-2 justify-content-center">
      <app-pagination [itemPerPage]="itemPerPage" [first]="first" [totalRecords]="totalRecords"
        (handlePageChange)="paginate($event)"></app-pagination>
    </div>
  </app-card>
</div>