<h1 class="page-title">Manage Employees</h1>
<div class="mb-4">
  <app-toolbar [styleClass]="'mb-3'">
    <ng-template #start>
      <app-button severity="success" (clickAction)="navigateToAddUser()" class="me-2">Add New</app-button>
      <!-- <app-button [icon]="'pi pi-plus'" [variant]="'outlined'" [severity]="'success'"></app-button> -->
    </ng-template>

    <ng-template #end>
      <div class="d-flex gap-2">
        <app-input [placeholder]="'Search'" [(ngModel)]="searchKeyword" />
        <app-button label="Search" icon="pi pi-search" severity="secondary"
          (clickAction)="getSearchKeyword(searchKeyword)" />
      </div>
    </ng-template>
  </app-toolbar>

</div>
<div class="mb">

  <app-card>
    <div card-body>
      <app-data-table [dataValue]="userList" [columns]="userDTColumns" [caption]="'Employee Summary'" [dataKey]="'id'"
        [expandableRows]="true" [sortMode]="'single'" [actions]="userDTActions"></app-data-table>
    </div>
    <div card-footer class="d-flex gap-2 justify-content-center">
      <app-pagination [totalRecords]="totalRecords" (handlePageChange)="paginate($event)"></app-pagination>
    </div>
  </app-card>
</div>