<h1 class="page-title">Edit Timesheet</h1>
<div class="back-to-page mb-3">
  <a [routerLink]="['/timesheet/log-work']">
    <app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back
  </a>
</div>

<div class="row">
  <div class="col-md-12">
    <app-card>
      <div card-header>Edit Timesheet of {{timesheetData.timesheet_date | date: 'dd/MM/yyyy'}}</div>
      <div card-body>
        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="id">
          <input type="hidden" formControlName="action">
          <input type="hidden" formControlName="date">
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <app-select [label]="'Project'" [name]="'project'" [inputId]="'project'" [placeholder]="'Select'"
                  [options]="projectList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                  formControlName="project"></app-select>
                <app-validation-error
                [control]="myForm.controls['project']"></app-validation-error>
              </div>

              <div class="mb-3">
                <app-select [label]="'Task'" [name]="'task'" [inputId]="'task'" [placeholder]="'Select'"
                  [options]="taskList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                  formControlName="task"></app-select>
                <app-validation-error
                [control]="myForm.controls['task']"></app-validation-error>
              </div>

              <div class="mb-3">
                <app-input [label]="'Hours'" [type]="'number'" [name]="'hours'" [inputId]="'hours'" [min]="0"
                  [max]="9" [step]="0.5" formControlName="hours"></app-input>
                <app-validation-error
                [control]="myForm.controls['hours']"></app-validation-error>
              </div>
              <div class="mb-3">
                <app-text-area [label]="'Task Description'" [name]="'description'" [textareaId]="'description'"
                  [maxLength]="150" [placeholder]="'Briefly describe in 150 characters (if necessary)'"
                  formControlName="description"></app-text-area>
                <div class="small text-muted">{{myForm.controls['description'].value ? (150 - myForm.controls['description'].value.length) : '150'}}
                characters left</div>
                <app-validation-error
                [control]="myForm.controls['description']"></app-validation-error>
              </div>


              <button type="submit" class="btn btn-primary" [disabled]="loading">@if (loading) {
                <span
                class="spinner-border spinner-border-sm me-1"></span>
              }
            Submit</button>
          </div>
        </div>
      </form>
    </div> <!--/.card-body-->
  </app-card> <!--/.card-->
</div>
</div>