<h1 class="page-title"><span>{{title}}</span> Emergency Contact</h1>
<div class="back-to-page mb-3">
  <a [routerLink]="['/emp/my-profile']"><app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back</a>
</div>
<div class="row">
  <div class="col-12">
    <app-card>
      <div card-header>Form</div>
      <div card-body>
        <app-alert-message [mode]="'toast'"></app-alert-message>
        <div class="row">
          <div class="col-md-6 col-lg-5 col-xl-4">
            <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="id">
              <input type="hidden" formControlName="action">

              <div class="mb-3">
                <label class="required" for="contactPersonName">Name</label>
                <app-input [type]="'text'" [name]="'contactPersonName'" [inputId]="'contactPersonName'"
                  formControlName="contactPersonName" [maxLength]="30"></app-input>
                <app-validation-error
                [control]="myForm.controls['contactPersonName']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="required" for="phoneNo">Phone</label>
                <app-input [type]="'tel'" [name]="'phoneNo'" [inputId]="'phoneNo'" formControlName="phoneNo"
                  [maxLength]="10"></app-input>
                <app-validation-error [control]="myForm.controls['phoneNo']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="required" for="relationWithContact">Relation</label>
                <app-select [name]="'relationWithContact'" [inputId]="'relationWithContact'" [placeholder]="'Select'"
                  [options]="relationDataList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                  formControlName="relationWithContact"></app-select>
                <app-validation-error
                [control]="myForm.controls['relationWithContact']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="optional" for="communicationAddress">Address</label>
                <app-text-area [name]="'communicationAddress'" [textareaId]="'communicationAddress'"
                  formControlName="communicationAddress" [maxLength]="180"></app-text-area>
                <app-validation-error
                [control]="myForm.controls['communicationAddress']"></app-validation-error>
              </div>

              <app-button [type]="'submit'">Submit</app-button>
            </form>
          </div>
        </div>

      </div>
    </app-card>
  </div>
</div>