<h1 class="page-title"> <span>{{title}}</span> Communication Address</h1>
<div class="back-to-page mb-3">
  <a [routerLink]="['/emp/my-profile']"><app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back</a>
</div>

<div class="row">
  <div class="col-12">
    <app-card>
      <div card-header>
        Form
      </div>
      <div card-body>
        <app-alert-message [mode]="'toast'"></app-alert-message>
        <div class="row">
          <div class="col-md-6 col-lg-5 col-xl-4">
            <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="id">
              <input type="hidden" formControlName="action">

              <div class="mb-3">
                <label class="required" for="addressType">Address Type</label>
                <app-select [name]="'addressType'" [inputId]="'addressType'" [placeholder]="'Select'"
                  [options]="addressType" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                  formControlName="addressType"></app-select>
                <app-validation-error [control]="myForm.controls['addressType']"></app-validation-error>
              </div>

              <div class="mb-3">
                <label class="required" for="addressLine1">Address Line 1</label>
                <app-input [type]="'text'" [name]="'addressLine1'" [inputId]="'addressLine1'"
                  formControlName="addressLine1" [maxLength]="80" [placeholder]="'Apt/Suite/Building/Street'"></app-input>
                  <app-validation-error
                  [control]="myForm.controls['addressLine1']"></app-validation-error>
                </div>

                <div class="mb-3">
                  <label class="optional" for="addressLine2">Address Line 2</label>
                  <app-input [type]="'text'" [name]="'addressLine2'" [inputId]="'addressLine2'"
                    formControlName="addressLine2" [maxLength]="50" [placeholder]="'Locality'"></app-input>
                  <app-validation-error
                  [control]="myForm.controls['addressLine2']"></app-validation-error>
                </div>

                <div class="mb-3">
                  <label class="required" for="city">City/Town</label>
                  <app-select [name]="'city'" [inputId]="'city'" [placeholder]="'Select'"
                    [options]="cityOptionsWithOthers" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                    formControlName="city"></app-select>
                  <app-validation-error [control]="myForm.controls['city']"></app-validation-error>
                </div>

                @if (myForm.value['city'] === '-1') {
                  <div class="mb-3">
                    <app-input [type]="'text'" [name]="'newCity'" [inputId]="'newCity'" formControlName="newCity"
                      [maxLength]="30" [placeholder]="'Other city/town name'"></app-input>
                      <div class="small"><strong>Note:</strong> Make sure you are not adding duplicate entry.
                    </div>
                    <app-validation-error [control]="myForm.controls['newCity']"></app-validation-error>
                  </div>
                }

                <div class="mb-3">
                  <label class="required" for="state">State</label>
                  <app-select [name]="'state'" [inputId]="'state'" [placeholder]="'Select'"
                    [options]="stateList" [optionLabel]="'name'" [optionValue]="'id'" [showClear]="false"
                    formControlName="state"></app-select>
                  <app-validation-error [control]="myForm.controls['state']"></app-validation-error>
                </div>
                <div class="mb-3">
                  <label class="required" for="zip">Postal ZIP</label>
                  <app-input [type]="'text'" [name]="'zip'" [inputId]="'zip'" formControlName="zip"
                    [maxLength]="8"></app-input>
                  <app-validation-error [control]="myForm.controls['zip']"></app-validation-error>
                </div>
                <div class="mb-3">
                  <label class="optional" for="landmark">Landmark</label>
                  <app-input [type]="'text'" [name]="'landmark'" [inputId]="'landmark'" formControlName="landmark"
                    [maxLength]="50"></app-input>
                  <app-validation-error [control]="myForm.controls['landmark']"></app-validation-error>
                </div>
                <div class="mb-3">
                  <label class="optional" for="phone">Phone</label>
                  <app-input [type]="'tel'" [name]="'phone'" [inputId]="'phone'" formControlName="phone"
                    [maxLength]="10"></app-input>
                  <app-validation-error [control]="myForm.controls['phone']"></app-validation-error>
                </div>
                <app-button [type]="'submit'" [loading]="loading" [disabled]="loading">Submit</app-button>
              </form>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>