@use "./styles/tailwind.css";
@use "./styles/layout/layout";
@use "node_modules/primeicons/primeicons";
//@use "./styles/demo/demo.scss";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";