<h1 class="page-title h3">
    {{ 'auth.titleResetPassword' | translate }}
</h1>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="otp" class="form-label">{{'auth.labelOtp' | translate}}</label>
        <app-input [type]="'password'" [name]="'otp'" [inputId]="'otp'" formControlName="otp"
            [class]="'w-100 d-block'" [ariaLabel]="'auth.aria.labelOTP' | translate"></app-input>
        <app-validation-error [control]="f['otp']"></app-validation-error>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">{{'auth.labelEmail' |
            translate}}</label>
        <app-input [type]="'email'" [name]="'email'" [inputId]="'email'" formControlName="email"
            [class]="'w-100 d-block'" [ariaLabel]="'auth.aria.labelEmail' | translate"></app-input>
        <app-validation-error [control]="f['email']"></app-validation-error>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">{{'auth.labelNewPassword' |
            translate}}</label>
        <app-input [type]="'password'" [name]="'password'" [inputId]="'password'" formControlName="password"
            [class]="'w-100 d-block'" [ariaLabel]="'auth.aria.labelNewPassword' | translate"></app-input>
        <app-validation-error [control]="f['password']"></app-validation-error>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">{{'auth.labelConfirmPassword' |
            translate}}</label>
        <app-input [type]="'password'" [name]="'confirmPassword'" [inputId]="'confirmPassword'"
            formControlName="confirmPassword" [class]="'w-100 d-block'"
            [ariaLabel]="'auth.aria.labelConfirmPassword' | translate"></app-input>
        <app-validation-error [control]="f['confirmPassword']"></app-validation-error>
    </div>

    <app-button [type]="'submit'" [label]="('button.submit' | translate)"
        [disabled]="loading || resetPasswordForm.invalid" [loading]="loading" [class]="'w-100 d-block'"></app-button>

    <p class="pt-4"><a [routerLink]="['../login']">{{ 'auth.goBackToLogin' | translate }}</a>
    </p>
</form>