<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
    {{ 'auth.titleResetPassword' | translate }}
</h1>
<form [formGroup]="resetPasswordForm" class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()">
    <div>
        <label for="otp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'auth.labelOtp' |
            translate}}</label>
        <input pInputText type="password" formControlName="otp" aria-label="{{ 'auth.aria.labelOTP' | translate }}"
            aria-describedby="{{ 'auth.aria.labelOTP' | translate }}" class="w-full" id="otp" />
        <app-validation-error [control]="f['otp']"></app-validation-error>
    </div>
    <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'auth.labelEmail' |
            translate}}</label>
        <input pInputText type="text" formControlName="email" aria-label="{{ 'auth.aria.labelEmail' | translate }}"
            aria-describedby="{{ 'auth.aria.labelEmail' | translate }}" class="w-full" id="email" />
        <app-validation-error [control]="f['email']"></app-validation-error>
    </div>
    <div>
        <label for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'auth.labelNewPassword' |
            translate}}</label>
        <input pInputText type="password" formControlName="password"
            aria-label="{{ 'auth.aria.labelNewPassword' | translate }}"
            aria-describedby="{{ 'auth.aria.labelNewPassword' | translate }}" class="w-full" id="password" />
        <app-validation-error [control]="f['password']"></app-validation-error>
    </div>

    <div>
        <label for="confirmPassword"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'auth.labelConfirmPassword' |
            translate}}</label>
        <input pInputText type="password" formControlName="confirmPassword"
            aria-label="{{ 'auth.aria.labelConfirmPassword' | translate }}"
            aria-describedby="{{ 'auth.aria.labelConfirmPassword' | translate }}" class="w-full" id="confirmPassword" />
        <app-validation-error [control]="f['confirmPassword']"></app-validation-error>
    </div>

    <button pButton pRipple type="submit" class="w-full" [disabled]="loading || resetPasswordForm.invalid" [loading]="loading">{{ 'button.submit' |
        translate
        }}</button>
    <p class="text-sm font-light text-gray-500 dark:text-gray-400"><a [routerLink]="['../login']"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500">{{ 'auth.goBackToLogin' |
            translate }}</a>
    </p>
</form>