<div class="py-12 px-12 mx-0 mt-20 lg:mx-20">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-2">
            <a [routerLink]="['../site/home']"
                class="flex flex-wrap items-center justify-center md:justify-start md:mb-0 mb-6 cursor-pointer">
                <svg fill="var(--primary-color)" class="h-12 mr-2" viewBox="0 0 32 32" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>angular</title>
                    <path
                        d="M24.826 23.885h-3.297l-1.777-4.377h-7.507l-1.777 4.379h-3.299l8.83-19.571zM15.999 1.004l-14.145 4.976 2.157 18.458 11.989 6.557 11.992-6.551 2.154-18.462-14.147-4.977zM13.414 16.806h5.171l-2.587-6.133z">
                    </path>
                </svg>
                <h4 class="font-medium text-3xl text-surface-900 dark:text-surface-0">{{ productName }}</h4>
            </a>
        </div>

        <div class="col-span-12 md:col-span-10">
            <div class="grid grid-cols-12 gap-8 text-center md:text-left">
                <div class="col-span-12 md:col-span-3">
                    <h4 class="font-medium text-2xl leading-normal mb-6 text-surface-900 dark:text-surface-0">Company
                    </h4>
                    <a class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">About
                        Us</a>
                    <a
                        class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">News</a>
                    <a class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">Investor
                        Relations</a>
                    <a
                        class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">Careers</a>
                    <a class="leading-normal text-xl block cursor-pointer text-surface-700 dark:text-surface-100">Media
                        Kit</a>
                </div>

                <div class="col-span-12 md:col-span-3">
                    <h4 class="font-medium text-2xl leading-normal mb-6 text-surface-900 dark:text-surface-0">Resources
                    </h4>
                    <a class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">Get
                        Started</a>
                    <a
                        class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">Learn</a>
                    <a class="leading-normal text-xl block cursor-pointer text-surface-700 dark:text-surface-100">Case
                        Studies</a>
                </div>

                <div class="col-span-12 md:col-span-3">
                    <h4 class="font-medium text-2xl leading-normal mb-6 text-surface-900 dark:text-surface-0">Community
                    </h4>
                    <a
                        class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">Discord</a>
                    <a
                        class="leading-normal text-xl flex items-center cursor-pointer mb-2 text-surface-700 dark:text-surface-100">Events<img
                            src="assets/img/site/new-badge.svg" alt="badge" class="ml-2" /></a>
                    <a
                        class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">FAQ</a>
                    <a
                        class="leading-normal text-xl block cursor-pointer text-surface-700 dark:text-surface-100">Blog</a>
                </div>

                <div class="col-span-12 md:col-span-3">
                    <h4 class="font-medium text-2xl leading-normal mb-6 text-surface-900 dark:text-surface-0">Legal</h4>
                    <a class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">Brand
                        Policy</a>
                    <a class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100">Privacy
                        Policy</a>
                    <a class="leading-normal text-xl block cursor-pointer text-surface-700 dark:text-surface-100">Terms
                        of Service</a>
                </div>
            </div>
        </div>
    </div>
</div>